@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--space-mono-font);
  }

  body {
    font-family: var(--jetbrains-font);
  }
}

:root p {
  font-weight: 300;
  opacity: 0.9;
}

.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid #0078d4;
  white-space: nowrap;
  animation:
    typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #0078d4;
  }
}
